@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

/** Colors **/

:root {
  --white: #ffffff;
  --grey: #f1f1f1;
  --black: #000000;
  --orange: #ff6523;
  --orangeLightOut: #f0b2a6;
  --yellow: #fad02e;
  --green: #49c182;
  --red: #EF476f;
}

body{
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}
