@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/lufga');
@import "tailwindcss";

/** Colors **/

:root {
  --white: #f5f5f5;
  --lightGrey: #bcc3c9;
  --black: #15191b;
  --orangeBase: #ff6523;
  --orangeLightOut: #f0b2a6;
  --yellow: #fad02e;
  --green: #49c182;
  --red: #EF476f;
}

body{
  font-family: 'Urbanist', sans-serif;
  background-color: var(--seasalt);
}

* {
  box-sizing: border-box;
}